p, h2 {
    color: rgb(37, 37, 37);
    width: 500px;
    margin-left: 400px;
    font-family: 'Caveat', cursive;
    font-size: x-large;
}

body {
    background-image: url("notebook.jpg");
    background-color: rgb(252, 241, 223);
}

a:link {
    color:rgb(151, 151, 151);
    text-decoration: none;
}

a:visited {
    color: rgb(151, 151, 151);
    text-decoration: none;
}

a:hover {
    color:  rgb(97, 97, 97);
    text-decoration: underline;
}

a:active {
    color: rgb(151, 151, 151);
    text-decoration: underline;
}
